{# app/Resources/views/page/listUrl.html.twig #}

<ul id="list_url">
    {% for url in listUrl %}
        <li>{{ url.url }} <button input="submit" id="{{ url.id }}" class="delete">Supprimer</button> </li>
    {% endfor %}
</ul>
